# Financial Timeseries Project

by @AbhisiktaM

## Installing Dependencies 

By : @AbhisiktaM

In [2]:
!pythom -m pip install anyio==4.9.0 argon2-cffi==23.1.0 argon2-cffi-bindings==21.2.0 arrow==1.3.0 asttokens==3.0.0 async-lru==2.0.5 attrs==25.3.0 babel==2.17.0 beautifulsoup4==4.13.4 bleach==6.2.0 certifi==2025.1.31 cffi==1.17.1 charset-normalizer==3.4.1 colorama==0.4.6 comm==0.2.2 debugpy==1.8.14 decorator==5.2.1 defusedxml==0.7.1 executing==2.2.0 fastjsonschema==2.21.1 fqdn==1.5.1 h11==0.14.0 httpcore==1.0.8 httpx==0.28.1 idna==3.10 ipykernel==6.29.5 ipython==9.1.0 ipython_pygments_lexers==1.1.1 isoduration==20.11.0 jedi==0.19.2 Jinja2==3.1.6 json5==0.12.0 jsonpointer==3.0.0 jsonschema==4.23.0 jsonschema-specifications==2024.10.1 jupyter-events==0.12.0 jupyter-lsp==2.2.5 jupyter_client==8.6.3 jupyter_core==5.7.2 jupyter_server==2.15.0 jupyter_server_terminals==0.5.3 jupyterlab==4.4.0 jupyterlab_pygments==0.3.0 jupyterlab_server==2.27.3 MarkupSafe==3.0.2 matplotlib-inline==0.1.7 mistune==3.1.3 nbclient==0.10.2 nbconvert==7.16.6 nbformat==5.10.4 nest-asyncio==1.6.0 notebook_shim==0.2.4 overrides==7.7.0 packaging==25.0 pandocfilters==1.5.1 parso==0.8.4 platformdirs==4.3.7 prometheus_client==0.21.1 prompt_toolkit==3.0.51 psutil==7.0.0 pure_eval==0.2.3 pycparser==2.22 Pygments==2.19.1 python-dateutil==2.9.0.post0 python-json-logger==3.3.0 PyYAML==6.0.2 pyzmq==26.4.0 referencing==0.36.2 requests==2.32.3 rfc3339-validator==0.1.4 rfc3986-validator==0.1.1 rpds-py==0.24.0 Send2Trash==1.8.3 six==1.17.0 sniffio==1.3.1 soupsieve==2.6 stack-data==0.6.3 terminado==0.18.1 tinycss2==1.4.0 tornado==6.4.2 traitlets==5.14.3 types-python-dateutil==2.9.0.20241206 typing_extensions==4.13.2 uri-template==1.3.0 urllib3==2.4.0 wcwidth==0.2.13 webcolors==24.11.1 webencodings==0.5.1 websocket-client==1.8.0

/bin/bash: pythom: command not found

## Importing Python Libraries 

by @AbhisiktaM

In [3]:
import pandas as pd
from prophet import Prophet
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA

/workspaces/time_series_assignment/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.

## Data Exploration

- Printed the Head of the Gold Price
- Saw the Column names 
- I identifies Columns of Interest - USD, INR and Date. 
- In next Phase; I chose those colunns. 

@AbhisiktaM

In [4]:
df = pd.read_csv("data/Monthly_Avg.csv")
print(df.head(5))
df.describe()

        Date    USD    EUR       JPY    GBP    CAD    CHF      INR  CNY  TRY  \
0  1/31/1978  207.8  129.2       NaN  104.6    NaN    NaN      NaN  NaN  NaN
1  2/28/1978  227.3  139.5  44,853.1  113.3  269.5  378.8  1,852.8  NaN  NaN
2  3/31/1978  245.7  151.3  49,213.2  122.5  293.2  410.6  2,010.4  NaN  NaN
3  4/28/1978  242.1  149.3  49,989.4  118.8  284.2  407.3  1,974.9  NaN  NaN
4  5/31/1978  239.2  148.8  51,707.2  115.4  274.2  410.5  1,960.9  NaN  NaN

     SAR        IDR    AED      THB  VND  EGP        KRW  RUB    ZAR    AUD
0    NaN        NaN    NaN      NaN  NaN  NaN        NaN  NaN    NaN    NaN
1  754.1  141,796.4  869.4  4,582.2  NaN  NaN  111,186.6  NaN  197.0  198.6
2  822.3  153,099.6  939.1  4,949.5  NaN  NaN  118,284.0  NaN  209.9  216.7
3  810.1  151,068.5  926.2  4,884.5  NaN  NaN  116,507.1  NaN  204.4  215.9
4  817.3  149,744.3  919.9  4,842.6  NaN  NaN  115,555.9  NaN  202.8  215.8

,Date,USD,EUR,JPY,GBP,CAD,CHF,INR,CNY,TRY,SAR,IDR,AED,THB,VND,EGP,KRW,RUB,ZAR,AUD
count,546,546,546,545,546,545,545,545,473,497,545,545,545,545,414,426,545,377,545,545
unique,546,512,509,545,494,514,533,545,463,394,526,545,535,544,414,421,545,376,544,524
top,6/30/2023,381.4,310.8,"274,668.3",176.7,525.9,455.9,"159,632.7","2,377.0",0.1,"1,061.6","29,016,370.1","1,541.0","9,573.4","45,684,844.2","1,302.6","2,518,293.2","8,024.2",448.8,472.3
freq,1,2,3,1,3,2,2,1,2,27,2,1,2,2,1,2,1,2,2,3

In [5]:
print("Unique Values of the USD column",df['USD'].unique())
print("Unique Values of the INR column",df['INR'].unique())
print("Unique Values of the Date column",df['Date'].unique())

Unique Values of the USD column ['207.8' '227.3' '245.7' '242.1' '239.2' '257.6' '279.1' '294.7' '300.8'
 '355.1' '391.7' '392.0' '455.1' '675.3' '665.3' '553.6' '517.4' '513.8'
 '600.7' '644.3' '627.2' '673.6' '661.2' '623.5' '594.9' '557.4' '499.8'
 '498.8' '495.8' '479.7' '460.8' '409.3' '410.2' '443.8' '437.8' '413.4'
 '410.1' '384.1' '374.1' '330.3' '350.3' '333.8' '315.0' '339.0' '364.2'
 '437.3' '422.2' '414.9' '444.3' '481.3' '491.2' '419.7' '432.9' '438.0'
 '412.8' '422.7' '416.2' '411.8' '393.6' '381.7' '388.3' '370.9' '385.9'
 '394.3' '381.4' '377.4' '377.7' '347.5' '347.7' '341.1' '340.2' '341.2'
 '320.2' '302.8' '299.1' '303.9' '325.3' '316.4' '316.5' '317.2' '329.8'
 '323.4' '325.8' '321.9' '345.4' '338.9' '345.7' '340.4' '342.4' '342.7'
 '348.3' '376.6' '417.7' '423.5' '397.6' '390.9' '408.3' '401.1' '408.9'
 '438.4' '460.2' '449.6' '450.5' '461.2' '460.4' '465.4' '467.6' '486.2'
 '476.6' '442.1' '443.6' '451.6' '451.1' '451.3' '437.6' '431.3' '413.5'
 '406.8' '420.2' '419.1' '404.0' '387.5' '390.2' '384.4' '371.1' '367.6'
 '375.0' '365.1' '361.8' '366.9' '409.4' '416.8' '393.1' '374.2' '369.1'
 '352.3' '362.5' '394.7' '389.3' '380.7' '377.0' '383.6' '363.8' '363.3'
 '358.4' '357.0' '366.7' '367.7' '356.3' '348.7' '358.7' '360.2' '361.7'
 '354.5' '353.9' '344.3' '338.6' '337.2' '340.8' '352.7' '343.1' '344.4'
 '335.0' '334.8' '329.0' '329.3' '330.1' '342.2' '367.2' '371.9' '392.2'
 '378.8' '355.3' '373.8' '383.3' '386.9' '381.9' '377.3' '385.6' '385.5'
 '380.4' '391.6' '389.8' '379.3' '378.6' '382.1' '391.0' '385.2' '387.6'
 '386.2' '383.7' '383.1' '385.3' '387.4' '399.5' '404.8' '396.2' '392.9'
 '391.9' '383.5' '387.3' '383.2' '381.1' '377.9' '369.0' '346.6' '351.8'
 '344.5' '343.8' '324.1' '324.0' '322.8' '324.9' '306.0' '288.7' '289.1'
 '297.5' '295.9' '308.3' '292.3' '292.9' '284.1' '289.0' '294.1' '291.7'
 '287.1' '287.3' '286.0' '282.6' '276.4' '261.3' '256.1' '256.7' '264.7'
 '310.7' '293.2' '283.1' '284.3' '299.9' '286.4' '279.7' '275.2' '285.7'
 '281.6' '274.5' '273.7' '270.0' '266.0' '271.5' '265.5' '261.9' '263.0'
 '260.5' '272.4' '270.2' '267.5' '283.4' '276.2' '275.9' '281.5' '295.5'
 '302.7' '314.5' '321.2' '313.3' '310.3' '319.1' '316.6' '331.9' '356.9'
 '359.0' '340.6' '328.2' '355.7' '356.4' '351.0' '359.8' '379.0' '378.9'
 '389.9' '407.0' '413.8' '404.9' '406.7' '403.3' '383.8' '392.4' '398.1'
 '400.5' '405.3' '420.5' '439.4' '424.0' '423.4' '434.3' '429.2' '421.9'
 '430.7' '424.5' '437.9' '456.1' '469.9' '476.7' '510.1' '549.9' '555.0'
 '557.1' '610.7' '675.4' '596.2' '633.7' '632.6' '598.2' '585.8' '627.8'
 '629.8' '631.2' '664.8' '654.9' '679.4' '666.9' '655.5' '665.4' '712.7'
 '754.6' '806.3' '803.2' '889.6' '922.3' '968.4' '909.7' '888.7' '889.5'
 '939.8' '839.0' '829.9' '806.6' '760.9' '816.1' '858.7' '943.2' '924.3'
 '890.2' '928.6' '945.7' '934.2' '949.4' '996.6' '1,043.2' '1,127.0'
 '1,134.7' '1,118.0' '1,095.4' '1,113.3' '1,148.7' '1,205.4' '1,232.9'
 '1,193.0' '1,215.8' '1,271.0' '1,342.0' '1,369.9' '1,390.6' '1,356.4'
 '1,372.7' '1,424.0' '1,473.8' '1,510.4' '1,528.7' '1,572.8' '1,755.8'
 '1,771.9' '1,665.2' '1,739.0' '1,652.3' '1,656.1' '1,742.6' '1,673.8'
 '1,650.1' '1,585.5' '1,596.7' '1,593.9' '1,626.0' '1,744.5' '1,747.0'
 '1,721.1' '1,688.5' '1,671.0' '1,627.6' '1,592.9' '1,485.1' '1,413.5'
 '1,342.4' '1,286.7' '1,347.1' '1,348.8' '1,316.2' '1,275.8' '1,225.4'
 '1,244.8' '1,301.0' '1,336.1' '1,299.0' '1,287.5' '1,279.1' '1,311.0'
 '1,296.0' '1,238.8' '1,222.5' '1,176.3' '1,202.3' '1,251.9' '1,227.2'
 '1,178.6' '1,197.9' '1,199.1' '1,181.5' '1,130.0' '1,117.5' '1,124.5'
 '1,159.3' '1,085.7' '1,068.3' '1,097.4' '1,199.9' '1,246.3' '1,242.3'
 '1,259.4' '1,276.4' '1,337.3' '1,341.1' '1,326.0' '1,266.6' '1,236.0'
 '1,151.4' '1,192.6' '1,234.4' '1,231.1' '1,265.6' '1,245.0' '1,260.3'
 '1,236.2' '1,282.3' '1,315.0' '1,279.5' '1,261.3' '1,331.7' '1,331.5'
 '1,324.7' '1,334.7' '1,303.0' '1,281.6' '1,238.5' '1,201.3' '1,198.5'
 '1,215.4' '1,221.0' '1,247.9' '1,291.8' '1,320.1' '1,300.9' '1,286.5'
 '1,284.0' '1,359.0' '1,413.0' '1,498.8' '1,511.3' '1,494.8' '1,470.0'
 '1,476.0' '1,560.7' '1,597.1' '1,591.9' '1,682.9' '1,716.4' '1,732.2'
 '1,843.3' '1,968.6' '1,922.2' '1,900.3' '1,863.5' '1,856.0' '1,867.0'
 '1,808.2' '1,718.2' '1,761.7' '1,853.2' '1,834.6' '1,807.1' '1,784.0'
 '1,777.3' '1,776.9' '1,820.2' '1,786.7' '1,816.8' '1,856.3' '1,947.8'
 '1,933.9' '1,848.3' '1,833.8' '1,736.4' '1,765.7' '1,683.0' '1,664.5'
 '1,726.5' '1,796.7' '1,898.6' '1,854.5' '1,912.7' '2,000.4' '1,990.2'
 '1,942.9']
Unique Values of the INR column [nan '1,852.8' '2,010.4' '1,974.9' '1,960.9' '2,119.4' '2,248.9' '2,309.7'
 '2,409.8' '2,865.0' '3,204.0' '3,183.5' '3,731.8' '5,358.0' '5,286.7'
 '4,511.5' '4,164.4' '4,053.3' '4,711.1' '5,012.4' '4,867.0' '5,211.1'
 '5,112.3' '4,833.7' '4,705.2' '4,430.0' '4,110.2' '4,093.1' '4,107.8'
 '4,034.0' '3,968.2' '3,632.1' '3,705.0' '4,039.1' '3,998.6' '3,766.8'
 '3,749.3' '3,507.0' '3,440.4' '3,064.7' '3,274.2' '3,107.0' '2,970.0'
 '3,224.8' '3,468.6' '4,223.6' '4,094.0' '4,050.1' '4,296.4' '4,734.4'
 '4,880.2' '4,183.6' '4,309.0' '4,365.0' '4,153.3' '4,255.1' '4,230.6'
 '4,204.6' '4,021.9' '3,949.9' '4,063.4' '3,966.9' '4,129.8' '4,228.2'
 '4,116.2' '4,139.7' '4,173.9' '3,934.7' '4,003.5' '4,016.6' '4,070.5'
 '4,105.2' '3,908.7' '3,813.3' '3,869.6' '3,856.6' '4,005.6' '3,917.7'
 '3,910.0' '3,800.5' '3,918.4' '3,894.0' '3,902.6' '3,903.3' '3,871.6'
 '4,214.4' '4,175.8' '4,210.4' '4,199.6' '4,253.5' '4,294.2' '4,345.9'
 '4,702.3' '5,263.4' '5,431.1' '5,188.3' '5,107.2' '5,287.4' '5,213.6'
 '5,249.5' '5,576.8' '5,825.5' '5,759.7' '5,839.1' '6,003.6' '5,946.9'
 '6,027.9' '6,028.1' '6,263.6' '6,205.0' '5,745.4' '5,730.3' '5,929.5'
 '5,971.2' '6,214.3' '6,145.9' '6,127.6' '5,955.0' '5,945.8' '6,256.7'
 '6,273.0' '6,095.1' '5,892.9' '6,010.9' '6,013.3' '5,993.6' '5,996.8'
 '6,097.1' '6,049.7' '6,019.8' '6,144.9' '6,637.0' '6,901.5' '6,936.4'
 '7,062.9' '6,704.4' '6,467.5' '6,373.3' '6,119.0' '6,299.5' '6,831.9'
 '6,940.7' '6,878.5' '6,895.4' '6,841.7' '7,032.1' '6,849.6' '7,003.6'
 '7,145.3' '7,318.0' '7,699.4' '9,363.9' '9,195.7' '8,994.2' '9,251.2'
 '9,294.5' '9,315.3' '9,171.7' '9,185.5' '9,707.3' '9,751.6' '9,601.9'
 '9,684.5' '10,051.6' '9,712.6' '9,788.5' '9,776.5' '9,503.9' '9,655.0'
 '9,502.1' '9,852.0' '10,427.5' '10,723.1' '11,511.3' '11,684.0'
 '12,303.7' '11,904.9' '11,171.9' '11,435.8' '11,724.6' '12,038.1'
 '12,135.5' '11,979.9' '12,051.7' '11,834.4' '11,965.0' '12,093.2'
 '12,092.6' '11,931.7' '12,283.6' '12,227.1' '12,065.8' '11,904.5'
 '11,875.4' '11,817.6' '12,074.7' '12,278.7' '12,101.2' '12,166.9'
 '12,118.5' '12,110.8' '12,720.7' '13,245.3' '13,363.8' '13,534.6'
 '14,294.6' '14,788.7' '13,584.9' '13,425.7' '13,662.2' '13,450.1'
 '13,582.6' '13,791.0' '13,670.9' '13,586.4' '13,495.4' '13,224.6'
 '12,735.5' '12,433.5' '12,615.8' '12,333.8' '12,310.7' '12,198.1'
 '11,578.4' '11,634.2' '11,757.6' '11,768.3' '11,389.3' '11,323.3'
 '11,340.2' '11,575.8' '11,692.8' '12,222.7' '12,081.6' '12,345.3'
 '12,449.4' '12,148.9' '12,285.0' '12,525.9' '12,465.3' '12,413.6'
 '12,205.4' '12,209.1' '12,136.4' '12,079.2' '11,823.4' '11,273.4'
 '11,083.2' '11,153.5' '11,526.2' '13,499.4' '12,723.1' '12,203.9'
 '12,199.2' '12,140.1' '12,077.2' '11,827.4' '11,273.5' '11,085.6'
 '11,156.4' '11,532.1' '13,505.6' '12,729.8' '12,314.1' '12,389.4'
 '13,082.1' '12,485.5' '12,208.0' '12,104.6' '12,769.2' '12,609.2'
 '12,542.8' '12,556.6' '12,508.7' '12,441.2' '12,690.1' '12,352.2'
 '12,181.8' '12,261.3' '12,174.4' '12,779.0' '12,699.9' '12,609.9'
 '12,835.5' '13,502.2' '13,591.0' '13,254.1' '13,206.8' '13,605.0'
 '14,386.6' '14,330.5' '14,807.5' '15,407.2' '15,719.9' '15,277.0'
 '15,074.5' '15,457.1' '15,309.6' '15,396.0' '15,978.2' '17,100.8'
 '17,139.2' '16,222.9' '15,546.3' '16,750.2' '16,644.4' '16,221.2'
 '16,519.7' '17,365.0' '17,192.5' '17,754.1' '18,538.1' '18,791.5'
 '18,320.6' '18,282.8' '17,717.7' '17,356.6' '17,859.0' '18,332.4'
 '18,558.8' '18,672.9' '19,244.3' '19,824.8' '19,452.8' '18,560.1'
 '18,498.6' '18,976.9' '18,774.0' '18,342.6' '18,761.5' '18,468.1'
 '19,101.2' '20,027.3' '21,070.9' '21,788.1' '23,323.8' '24,383.7'
 '24,599.7' '24,788.9' '27,442.2' '30,626.1' '27,454.6' '29,448.9'
 '29,432.5' '27,581.0' '26,626.1' '28,147.4' '28,115.4' '27,963.4'
 '29,353.5' '28,786.9' '28,613.6' '27,240.7' '26,731.3' '26,887.9'
 '27,168.3' '28,714.8' '29,816.5' '31,817.9' '31,692.2' '35,019.3'
 '36,670.4' '39,072.7' '36,420.5' '37,467.4' '38,152.8' '40,218.7'
 '36,048.4' '37,846.5' '39,183.3' '37,307.3' '39,751.9' '41,980.5'
 '46,517.0' '47,385.3' '44,642.3' '45,113.7' '45,179.5' '45,272.3'
 '45,879.5' '48,232.9' '48,734.1' '52,517.3' '52,899.2' '51,332.6'
 '50,754.6' '50,646.5' '51,111.6' '55,374.2' '57,424.2' '55,870.3'
 '56,626.8' '58,470.2' '59,620.6' '61,649.8' '62,747.1' '61,622.0'
 '62,336.2' '64,047.9' '65,435.3' '67,912.0' '68,539.2' '69,847.6'
 '79,641.1' '84,355.2' '82,057.8' '88,315.4' '86,477.0' '84,585.9'
 '85,730.1' '84,357.2' '85,497.4' '86,441.2' '89,494.5' '88,322.2'
 '90,235.2' '94,946.8' '92,797.1' '94,385.0' '92,196.3' '90,548.6'
 '87,658.6' '86,744.6' '80,698.0' '77,773.0' '78,376.1' '76,868.3'
 '84,870.0' '86,172.9' '81,058.5' '79,979.4' '75,739.8' '77,346.9'
 '80,800.0' '81,431.2' '78,425.9' '76,277.1' '76,423.3' '78,746.7'
 '78,903.7' '75,450.6' '75,013.3' '72,550.7' '75,398.1' '77,675.8'
 '76,118.9' '73,659.7' '75,155.0' '76,411.9' '75,387.5' '71,879.7'
 '72,739.0' '74,464.4' '75,407.2' '71,817.7' '71,140.9' '73,946.5'
 '81,895.1' '83,385.4' '82,561.8' '84,313.6' '85,871.0' '89,833.7'
 '89,726.1' '88,463.4' '84,503.2' '83,650.7' '78,062.4' '81,175.7'
 '82,669.1' '81,034.8' '81,732.1' '80,234.6' '81,241.9' '79,657.5'
 '82,050.1' '84,770.2' '83,256.6' '83,178.8' '81,085.3' '84,755.6'
 '85,846.4' '86,150.6' '87,728.0' '88,004.7' '86,895.6' '85,054.4'
 '83,644.6' '86,497.2' '89,479.0' '87,570.9' '88,542.0' '91,389.4'
 '93,948.4' '90,434.9' '89,277.3' '89,646.7' '94,321.7' '97,152.7'
 '106,666.7' '107,843.6' '106,159.2' '105,094.5' '105,015.0' '111,219.9'
 '114,267.8' '118,723.8' '128,204.5' '129,888.1' '131,184.1' '138,099.1'
 '146,949.5' '141,300.8' '139,793.1' '138,286.3' '136,718.8' '136,506.7'
 '131,656.6' '125,113.8' '131,458.7' '135,648.2' '134,982.5' '134,706.2'
 '132,272.8' '130,853.3' '133,201.1' '135,577.4' '134,868.7' '135,171.7'
 '139,170.4' '148,441.5' '147,318.3' '142,941.4' '143,296.0' '138,158.7'
 '140,407.9' '135,064.6' '137,027.7' '140,948.0' '148,133.8' '155,143.8'
 '153,245.7' '157,347.7' '163,940.8' '163,859.5' '159,632.7']
Unique Values of the Date column ['1/31/1978' '2/28/1978' '3/31/1978' '4/28/1978' '5/31/1978' '6/30/1978'
 '7/31/1978' '8/31/1978' '9/29/1978' '10/31/1978' '11/30/1978'
 '12/29/1978' '1/31/1979' '2/28/1979' '3/30/1979' '4/30/1979' '5/31/1979'
 '6/29/1979' '7/31/1979' '8/31/1979' '9/28/1979' '10/31/1979' '11/30/1979'
 '12/31/1979' '1/31/1980' '2/29/1980' '3/31/1980' '4/30/1980' '5/30/1980'
 '6/30/1980' '7/31/1980' '8/29/1980' '9/30/1980' '10/31/1980' '11/28/1980'
 '12/31/1980' '1/30/1981' '2/27/1981' '3/31/1981' '4/30/1981' '5/29/1981'
 '6/30/1981' '7/31/1981' '8/31/1981' '9/30/1981' '10/30/1981' '11/30/1981'
 '12/31/1981' '1/29/1982' '2/26/1982' '3/31/1982' '4/30/1982' '5/31/1982'
 '6/30/1982' '7/30/1982' '8/31/1982' '9/30/1982' '10/29/1982' '11/30/1982'
 '12/31/1982' '1/31/1983' '2/28/1983' '3/31/1983' '4/29/1983' '5/31/1983'
 '6/30/1983' '7/29/1983' '8/31/1983' '9/30/1983' '10/31/1983' '11/30/1983'
 '12/30/1983' '1/31/1984' '2/29/1984' '3/30/1984' '4/30/1984' '5/31/1984'
 '6/29/1984' '7/31/1984' '8/31/1984' '9/28/1984' '10/31/1984' '11/30/1984'
 '12/31/1984' '1/31/1985' '2/28/1985' '3/29/1985' '4/30/1985' '5/31/1985'
 '6/28/1985' '7/31/1985' '8/30/1985' '9/30/1985' '10/31/1985' '11/29/1985'
 '12/31/1985' '1/31/1986' '2/28/1986' '3/31/1986' '4/30/1986' '5/30/1986'
 '6/30/1986' '7/31/1986' '8/29/1986' '9/30/1986' '10/31/1986' '11/28/1986'
 '12/31/1986' '1/30/1987' '2/27/1987' '3/31/1987' '4/30/1987' '5/29/1987'
 '6/30/1987' '7/31/1987' '8/31/1987' '9/30/1987' '10/30/1987' '11/30/1987'
 '12/31/1987' '1/29/1988' '2/29/1988' '3/31/1988' '4/29/1988' '5/31/1988'
 '6/30/1988' '7/29/1988' '8/31/1988' '9/30/1988' '10/31/1988' '11/30/1988'
 '12/30/1988' '1/31/1989' '2/28/1989' '3/31/1989' '4/28/1989' '5/31/1989'
 '6/30/1989' '7/31/1989' '8/31/1989' '9/29/1989' '10/31/1989' '11/30/1989'
 '12/29/1989' '1/31/1990' '2/28/1990' '3/30/1990' '4/30/1990' '5/31/1990'
 '6/29/1990' '7/31/1990' '8/31/1990' '9/28/1990' '10/31/1990' '11/30/1990'
 '12/31/1990' '1/31/1991' '2/28/1991' '3/29/1991' '4/30/1991' '5/31/1991'
 '6/28/1991' '7/31/1991' '8/30/1991' '9/30/1991' '10/31/1991' '11/29/1991'
 '12/31/1991' '1/31/1992' '2/28/1992' '3/31/1992' '4/30/1992' '5/29/1992'
 '6/30/1992' '7/31/1992' '8/31/1992' '9/30/1992' '10/30/1992' '11/30/1992'
 '12/31/1992' '1/29/1993' '2/26/1993' '3/31/1993' '4/30/1993' '5/31/1993'
 '6/30/1993' '7/30/1993' '8/31/1993' '9/30/1993' '10/29/1993' '11/30/1993'
 '12/31/1993' '1/31/1994' '2/28/1994' '3/31/1994' '4/29/1994' '5/31/1994'
 '6/30/1994' '7/29/1994' '8/31/1994' '9/30/1994' '10/31/1994' '11/30/1994'
 '12/30/1994' '1/31/1995' '2/28/1995' '3/31/1995' '4/28/1995' '5/31/1995'
 '6/30/1995' '7/31/1995' '8/31/1995' '9/29/1995' '10/31/1995' '11/30/1995'
 '12/29/1995' '1/31/1996' '2/29/1996' '3/29/1996' '4/30/1996' '5/31/1996'
 '6/28/1996' '7/31/1996' '8/30/1996' '9/30/1996' '10/31/1996' '11/29/1996'
 '12/31/1996' '1/31/1997' '2/28/1997' '3/31/1997' '4/30/1997' '5/30/1997'
 '6/30/1997' '7/31/1997' '8/29/1997' '9/30/1997' '10/31/1997' '11/28/1997'
 '12/31/1997' '1/30/1998' '2/27/1998' '3/31/1998' '4/30/1998' '5/29/1998'
 '6/30/1998' '7/31/1998' '8/31/1998' '9/30/1998' '10/30/1998' '11/30/1998'
 '12/31/1998' '1/29/1999' '2/26/1999' '3/31/1999' '4/30/1999' '5/31/1999'
 '6/30/1999' '7/30/1999' '8/31/1999' '9/30/1999' '10/29/1999' '11/30/1999'
 '12/31/1999' '1/31/2000' '2/29/2000' '3/31/2000' '4/28/2000' '5/31/2000'
 '6/30/2000' '7/31/2000' '8/31/2000' '9/29/2000' '10/31/2000' '11/30/2000'
 '12/29/2000' '1/31/2001' '2/28/2001' '3/30/2001' '4/30/2001' '5/31/2001'
 '6/29/2001' '7/31/2001' '8/31/2001' '9/28/2001' '10/31/2001' '11/30/2001'
 '12/31/2001' '1/31/2002' '2/28/2002' '3/29/2002' '4/30/2002' '5/31/2002'
 '6/28/2002' '7/31/2002' '8/30/2002' '9/30/2002' '10/31/2002' '11/29/2002'
 '12/31/2002' '1/31/2003' '2/28/2003' '3/31/2003' '4/30/2003' '5/30/2003'
 '6/30/2003' '7/31/2003' '8/29/2003' '9/30/2003' '10/31/2003' '11/28/2003'
 '12/31/2003' '1/30/2004' '2/27/2004' '3/31/2004' '4/30/2004' '5/31/2004'
 '6/30/2004' '7/30/2004' '8/31/2004' '9/30/2004' '10/29/2004' '11/30/2004'
 '12/31/2004' '1/31/2005' '2/28/2005' '3/31/2005' '4/29/2005' '5/31/2005'
 '6/30/2005' '7/29/2005' '8/31/2005' '9/30/2005' '10/31/2005' '11/30/2005'
 '12/30/2005' '1/31/2006' '2/28/2006' '3/31/2006' '4/28/2006' '5/31/2006'
 '6/30/2006' '7/31/2006' '8/31/2006' '9/29/2006' '10/31/2006' '11/30/2006'
 '12/29/2006' '1/31/2007' '2/28/2007' '3/30/2007' '4/30/2007' '5/31/2007'
 '6/29/2007' '7/31/2007' '8/31/2007' '9/28/2007' '10/31/2007' '11/30/2007'
 '12/31/2007' '1/31/2008' '2/29/2008' '3/31/2008' '4/30/2008' '5/30/2008'
 '6/30/2008' '7/31/2008' '8/29/2008' '9/30/2008' '10/31/2008' '11/28/2008'
 '12/31/2008' '1/30/2009' '2/27/2009' '3/31/2009' '4/30/2009' '5/29/2009'
 '6/30/2009' '7/31/2009' '8/31/2009' '9/30/2009' '10/30/2009' '11/30/2009'
 '12/31/2009' '1/29/2010' '2/26/2010' '3/31/2010' '4/30/2010' '5/31/2010'
 '6/30/2010' '7/30/2010' '8/31/2010' '9/30/2010' '10/29/2010' '11/30/2010'
 '12/31/2010' '1/31/2011' '2/28/2011' '3/31/2011' '4/29/2011' '5/31/2011'
 '6/30/2011' '7/29/2011' '8/31/2011' '9/30/2011' '10/31/2011' '11/30/2011'
 '12/30/2011' '1/31/2012' '2/29/2012' '3/30/2012' '4/30/2012' '5/31/2012'
 '6/29/2012' '7/31/2012' '8/31/2012' '9/28/2012' '10/31/2012' '11/30/2012'
 '12/31/2012' '1/31/2013' '2/28/2013' '3/29/2013' '4/30/2013' '5/31/2013'
 '6/28/2013' '7/31/2013' '8/30/2013' '9/30/2013' '10/31/2013' '11/29/2013'
 '12/31/2013' '1/31/2014' '2/28/2014' '3/31/2014' '4/30/2014' '5/30/2014'
 '6/30/2014' '7/31/2014' '8/29/2014' '9/30/2014' '10/31/2014' '11/28/2014'
 '12/31/2014' '1/30/2015' '2/27/2015' '3/31/2015' '4/30/2015' '5/29/2015'
 '6/30/2015' '7/31/2015' '8/31/2015' '9/30/2015' '10/30/2015' '11/30/2015'
 '12/31/2015' '1/29/2016' '2/29/2016' '3/31/2016' '4/29/2016' '5/31/2016'
 '6/30/2016' '7/29/2016' '8/31/2016' '9/30/2016' '10/31/2016' '11/30/2016'
 '12/30/2016' '1/31/2017' '2/28/2017' '3/31/2017' '4/28/2017' '5/31/2017'
 '6/30/2017' '7/31/2017' '8/31/2017' '9/29/2017' '10/31/2017' '11/30/2017'
 '12/29/2017' '1/31/2018' '2/28/2018' '3/30/2018' '4/30/2018' '5/31/2018'
 '6/29/2018' '7/31/2018' '8/31/2018' '9/28/2018' '10/31/2018' '11/30/2018'
 '12/31/2018' '1/31/2019' '2/28/2019' '3/29/2019' '4/30/2019' '5/31/2019'
 '6/28/2019' '7/31/2019' '8/30/2019' '9/30/2019' '10/31/2019' '11/29/2019'
 '12/31/2019' '1/31/2020' '2/28/2020' '3/31/2020' '4/30/2020' '5/29/2020'
 '6/30/2020' '7/31/2020' '8/31/2020' '9/30/2020' '10/30/2020' '11/30/2020'
 '12/31/2020' '1/29/2021' '2/26/2021' '3/31/2021' '4/30/2021' '5/31/2021'
 '6/30/2021' '7/30/2021' '8/31/2021' '9/30/2021' '10/29/2021' '11/30/2021'
 '12/31/2021' '1/31/2022' '2/28/2022' '3/31/2022' '4/29/2022' '5/31/2022'
 '6/30/2022' '7/29/2022' '8/31/2022' '9/30/2022' '10/31/2022' '11/30/2022'
 '12/30/2022' '1/31/2023' '2/28/2023' '3/31/2023' '4/28/2023' '5/31/2023'
 '6/30/2023']

In [6]:
df.dtypes

Date    object
USD     object
EUR     object
JPY     object
GBP     object
CAD     object
CHF     object
INR     object
CNY     object
TRY     object
SAR     object
IDR     object
AED     object
THB     object
VND     object
EGP     object
KRW     object
RUB     object
ZAR     object
AUD     object
dtype: object

## Data Preprocessing and cleaning

- Selecting Columns {}
- I changed the given date to correct date-time format for fbprphet
- I kept only the 'USD','INR' and Date relevant for gold prices

In [7]:
df['Year']=df['Date'].apply(lambda x: str(x)[-4:])
df['Month']=df['Date'].apply(lambda x: str(x)[:-8])
df['Day']=df['Date'].apply(lambda x: str(x)[-7:-5])

# Changed MM/DD/YY -> YY/MM/DD

df['Dates']=pd.DatetimeIndex(df['Year']+'-'+df['Month']+'-'+df['Day'] )

In [8]:
df.drop(['Date','EUR','JPY','GBP','CAD','CHF','CNY','TRY','SAR','IDR','AED','THB','VND','EGP','KRW','RUB','ZAR','AUD','Year','Month','Day'], 
        axis=1, inplace=True, errors='ignore')
df.columns

Index(['USD', 'INR', 'Dates'], dtype='object')

In [10]:
df.head()

     USD      INR      Dates
0  207.8      NaN 1978-01-31
1  227.3  1,852.8 1978-02-28
2  245.7  2,010.4 1978-03-31
3  242.1  1,974.9 1978-04-28
4  239.2  1,960.9 1978-05-31